{% extends 'shop/base.html'   %}

{% block body %}


<div class="container"> 

<p> {% if messages %}
<div class="alert alert-success" role="alert">
    {% for message in messages %}

<p>   {{ message }}</p>
    {% endfor %}
</div>
{% endif %}</p>

<h1> manage products</h1>
<hr>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">category</th>
      <th scope="col">brand</th>
      <th scope="col">Price</th>
      <th scope="col">quantity</th>
      <th scope="col">image</th>
      <th scope="col">status</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
  	{% for post in users %}
    <tr>
      <th scope="row">{{post.id}}</th>
      <td>{{post.pro_title}}</td>
      <td>{{post.product_desc}}</td>
      <td>{{post.cat_name}}</td>
      <td>{{post.bran_name}}</td>
      <td>{{post.price}}</td>
      <td>{{post.quantity}}</td>
      <td><img src="/media/{{post.image}}"    height="100px" /></td>
      <td>{{post.status}}</td>
      <td><a  href="/product/edit_product/{{post.id}}"><button type="button" class="btn btn-primary">Edit</button></a>

      	<a  href="/product/delete_product/{{post.id}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


</div>




{% endblock %}
