{% extends 'shop/base.html'   %}

{% block body %}
<style type="text/css">
  
.h {
    width: 166px;
}

</style>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="container">
<div class='row'>

<div class="alert alert-primary" role="alert">
<h2> Add slider</h2>
</div>
<div class='col-lg-6'>
<form method="POST" id='addUser' enctype="multipart/form-data">
  	{% csrf_token %}
  <div class="form-group">
  <label for="exampleFormControlTextarea1"> slider title </label>
  {{form.slider_title}}
  </div>
 <div class="form-group">
  <label for="exampleFormControlTextarea1"> slider  dsc </label>
  {{form.slider_dsc}}
 </div>
 <div class="form-group">
  <label for="exampleFormControlTextarea1"> slider image </label>
 {{form.slider_image}}
 </div>
  <button type="submit"  id='btn_submit' class="btn btn-primary">save</button>
</form>
</div>
</div>
</div>
<script type="text/javascript">
$("form#addUser").submit(function(e) {
  e.preventDefault();
  $form = $(this)
  var formData = new FormData(this);   
  $.ajax({
    type:'POST',
    url: "/slider/",
    data: formData,
    processData: false,
    contentType: false,
    success: function () {
      alert('slider add succesfully')
           window.location.reload();
}
});
});


</script>
{% endblock %}
